# Session settings
SESSION_SECRET=
SESSION_NAME=
SESSION_KEY=

# App port
APP_PORT=3000

# Email service settings (user reset password)
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=016c6544eea24f
EMAIL_PASS=f8976e24b82a55

# Database settings
DATABASE_HOST=
DATABASE_USER=
DATABASE_PASS=
DATABASE_NAME=