<!DOCTYPE html>
<html lang="en">
<%- include('../templates/head.ejs') -%>

<body class="bg-primary">
	<%- include('../templates/header.ejs') -%>
	<div class="container mt-5">
		<div class="row">
			<div class="col"></div>
			<div class="col-9 bg-warning rounded py-4">
				<h2 class="mb-4">
					Shipping Details
					<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-truck" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
				  	</svg>
				</h2>
				<% if (errors) { %>
					<% for (let error of errors) { %>
						<small class="badge badge-danger p-2 mb-2"><%= error.param +' : '+ error.msg%></small>
					<% } %>
				<% } %>
				<form method="POST" action="/checkout">
					<div class="form-group">
						<label for="address">Address</label>
						<input type="text" class="form-control" id="address" name="address" placeholder="1234 Main St">
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="city">City</label>
							<input type="text" class="form-control" id="city" name="city">
						</div>
						<div class="form-group col-md-4">
							<label for="state">State</label>
							<input type="text" class="form-control" id="state" name='state'>
						</div>
						<div class="form-group col-md-2">
							<label for="zip">Zip</label>
							<input type="number" class="form-control" id="zip" name="zip">
						</div>
					</div>
					<h2 class="mb-4">
						Payment Details
						<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cash-stack" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path d="M14 3H1a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1h-1z"/>
							<path fill-rule="evenodd" d="M15 5H1v8h14V5zM1 4a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H1z"/>
							<path d="M13 5a2 2 0 0 0 2 2V5h-2zM3 5a2 2 0 0 1-2 2V5h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 13a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
						</svg>
					</h2>
					<div class="form-group">
						<label for="card">Card Number</label>
						<input type="number" class="form-control" id="card" name="card" placeholder="Valid Card Number">
					</div>
					<label class="font-weight-bold">Expiry Date</label>
					<div class="form-row">
						<div class="form-group col-md-1">
							<label for="expMonth">Month</label>
							<input type="text" class="form-control" id="expMonth" name="expMonth" placeholder="MM">
						</div>
						<div class="form-group col-md-1">
							<label for="expYear">Year</label>
							<input type="text" class="form-control" id="expYear" name='expYear' placeholder="YY">
						</div>
						<div class="form-group col-md-2">
							<label for="cvCode">CV Code</label>
							<input type="text" class="form-control" id="cvCode" name="cvCode">
						</div>
					</div>
					<button type="submit" class="btn btn-dark float-right">Finish Order!</button>
				</form>
			</div>
			<div class="col"></div>
		</div>
	</div>
</body>

</html>