head
   title Burgers Co.
   link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap.css')
   link(rel='stylesheet', href='/public/css/header.css')
   link(rel='icon' type='image/png' href='/public/images/favicon.png')