<header class="container-fluid masthead mb-auto bg-primary">
    <div class="row text-white py-3">
      <div class="col-3 masthead-brand text-right"><h3>Burgers Co.</h3></div>
      <nav class="col-5 nav nav-masthead justify-content-center">
        <a class="nav-link active" href="/">Home</a>
        <a class="nav-link" href="/hamburguers">Hamburguers</a>
        <a class="nav-link" href="/contact">Contact</a>
      </nav>
    </div>
</header>