<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="icon" type="image/png" href="/public/images/favicon.png"/>
    <title>Burgers Co.</title>
</head>